<?xml version="1.0" encoding="UTF-8"?>
<!-- 配置主配置文件的dtd约束 -->
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>


	<settings>
	<!-- 使用spring后，如果需要输出mybatis的日志，需要如下的配置 -->
		<setting name="logImpl" value="log4j"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.qfedu.entity.User" alias="user"/>
		<typeAlias type="com.qfedu.entity.Depart" alias="depart"/>
		<typeAlias type="com.qfedu.entity.Staff" alias="staff"/>
		<typeAlias type="com.qfedu.entity.Course" alias="course"/>
		<typeAlias type="com.qfedu.entity.Student" alias="student"/>
		<typeAlias type="com.qfedu.entity.Grade" alias="grade"/>
	</typeAliases>

	<plugins>
		<!-- com.github.pagehelper为PageHelper类所在包名 -->
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 配置方言 -->
			<property name="helperDialect" value="mysql"/>
		</plugin>
	</plugins>


</configuration>